<html>
  <head>
    <link href="{% static 'mdv/choose_data.css' %}" rel="stylesheet" />
  </head>
  <body>
    <nav>
      <h1>OMERO.MDV</h1>
    </nav>
    <main>
      {% block main %}
      <form id="choose_data_form" class="choose_data" method="post" action="{% url 'mdv_submit_form' %}">
      <article>
        <header>
          <h2>Choose data for {{obj.type}}-{{obj.id}}:</h2>
        </header>
        {% csrf_token %}
        <div>
        <label
          >MDV Project name: <input name="mdv_name" type="text" value="{{obj.name}}"
        /></label>
        <h3>OMERO.tables:</h3>
        <ul>
          {% for ann in anns %}
          <li>
            <label>
              <input name="file" type="radio" value="{{ann.file.id}}" />
              File ID: {{ ann.file.id }} Name: {{ann.file.name }}
            </label>
          </li>
          {% endfor %}
        </ul>

        <label>
          <input
            id="mapAnnsCheckbox"
            name="mapanns"
            type="checkbox"
            value="{{obj.type}}-{{obj.id}}"
          />
          Map Annotations
        </label>
        <br>

        <label style="line-height: 40px;">
          <input
            id="datasetsCheckbox"
            name="datasets"
            type="checkbox"
            value="{{obj.type}}-{{obj.id}}"
          />
          Datasets
        </label>

        <!-- This is rendered when we load some tables... -->
        <div id="chartPicker"></div>
        </div>
        <footer>
          <button disabled type="submit" title="Please choose some data above">
              OK
            </button>
        </footer>
      </article>
    </form>
      <div id="datasources">
        <!-- lit-html adds <table> here -->
      </div>
      {% endblock %}
    </main>
  </body>

  <script src="{% static 'mdv/data_model.js' %}"></script>

  <script type="module">
    const WEB_INDEX = "{% url 'webindex' %}";
    const MDV_INDEX = "{% url 'mdv_index' %}";
    const OBJ_TYPE = "{{obj.type}}";
    const OBJ_ID = {{obj.id}};

    // NB: lit-html 3.0.0 available, but cdn broken just now!
    // import {html, render} from 'https://unpkg.com/lit-html?module';
    import {html, render} from '{% static "mdv/lit-html_2.8.0/lit-html.js" %}';

    
    let datasources = new DataModel();
    datasources.addEventListener("dataAdded", (e) => {renderTable()})

    // Render the template to the document
    function renderTable() {

      let columns = datasources.getColumns();
      let rows = datasources.getRowData();

      // Render Table...
      render(tableTemplate({columns, rows}), document.getElementById("datasources"));
      // Render Form...
      render(formTemplate({datasources}), document.getElementById("chartPicker"));
    }

    const formTemplate = ({datasources}) => {

      const numberCols = datasources.getNumberColumns();
      const stringCols = datasources.getStringColumns();
      const allCols = datasources.getColumns();
      const fm = new Intl.NumberFormat("en-IN", { maximumSignificantDigits: 3 });

      return html`
        <hr>
        <h3>Add Filters:</h3>
        <ul>
          <li>
          ${numberCols.map(col => col.minMax && html`
            <li>
              <label>
                <input name="filter" type="checkbox" value="${col.name}"/>
                ${col.name} (${col.datatype} ${col.minMax.map(fm.format).join("-")})
              </label>
            </li>`)}
          ${stringCols.map(col => html`
            <li>
              <label>
                <input name="filter" type="checkbox" value="${col.name}"/>
                ${col.name} (${col.datatype})
              </label>
            </li>`)}
        </ul>

        <h3>Add Row Charts:</h3>
        <ul>
          ${stringCols.map(col => html`
            <li>
              <label>
                <input name="rowchart" type="checkbox" value="${col.name}"/>
                ${col.name}
              </label>
            </li>`)}
        </ul>

        <h3>Add Histograms:</h3>
        <ul>
          ${numberCols.map(col => html`
            <li>
              <label>
                <input name="histogram" type="checkbox" value="${col.name}"/>
                ${col.name}
              </label>
            </li>`)}
        </ul>
      `;
    }


    const tableTemplate = ({columns, rows}) => {
      return html`
        ${ columns.length == 0 ? "loading..." : ""}
        <table>
          <thead>
          <tr>${columns.map((col) => html`<th>${col.name}</th>`)}</tr>
          </thead>
          <tbody>
            ${
              rows ? rows.map(row => html`
                <tr>${row.map((val) => html`<td>${val}</td>`)}</tr>
              `) : html``
            }
        </tbody></table>
      `;
    }


    function enableSubmit() {
      let btn = document.querySelector("button[type='submit']")
      btn.removeAttribute("disabled");
      btn.setAttribute("title", "Submit!");
    }

    // Handle click on Tables checkbox...
    // document.getElementById("mapAnnsCheckbox").addEventListener("click", (event) => {
    function handleTableClick(event) {
      const checked = event.target.checked;
      const tableId = event.target.value;
      enableSubmit();
      // if data not loaded...
      // if (!datasources.omero_tables[tableId]) {
      //   datasources.addTable(tableId, {columns: [], display: false});
      // }
      if (checked) {
        // http://localhost:4080/webclient/omero_table/2154/json/?limit=500&offset=0
        // let url = `${WEB_INDEX}omero_table/${tableId}/json/?limit=500&offset=0`;
        let url = `${MDV_INDEX}table_info/${tableId}/`
        let table_data = fetch(url)
          .then(rsp => rsp.json())
          .then(data => {
            console.log("data", data);
            datasources.addTable(tableId, data);
          })
      }
      datasources.omero_tables[tableId].display = checked;
    };
    // bind click handler to omero.table checkboxes
    document.querySelectorAll("input[name='file']").forEach(i => i.addEventListener("click", handleTableClick));

    // When user clicks Submit, disable the button while we wait for form to submit...
    document.getElementById("choose_data_form").addEventListener("submit", function(event){
      document.querySelector("button[type='submit']").setAttribute("disabled", "disabled");
    })

    // Handle click on Map Annotations / Dataset checkboxes...
    // Both these load data in the same format...
    document.getElementById("mapAnnsCheckbox").addEventListener("click", loadDataSource);
    document.getElementById("datasetsCheckbox").addEventListener("click", loadDataSource);

    function loadDataSource (event) {
      enableSubmit();
      const checked = event.target.checked;
      let name = event.target.getAttribute("name");
      // if data not loaded...
      const tableId = `${name}_${OBJ_ID}`
      // if (!datasources.omero_tables[tableId]) {
      //   datasources.addTable(tableId, {columns: [], display: false});
      // }
      if (checked) {
        // name is 'mapanns' or 'datasets'
        // url is /mdv/mapanns_info/project/pid or /mdv/datasets/pid
        let dtype = name == "datasets" ? "" : `${OBJ_TYPE}/`;
        let url = `${MDV_INDEX}${name}_info/${dtype}${OBJ_ID}/`;
        let map_anns_data = fetch(url)
          .then(rsp => rsp.json())
          .then(data => {
            console.log("rsp", data);
            // Need 'columns' [{'name': "Name"}] and 'rows' 2D list
            // let columns = data.keys.map(c => {return {"name": c}});
            // let imgData = data.data;
            // // parseInt just so we can sort
            // let imgIds = Object.keys(imgData).map(k => parseInt(k));
            // imgIds.sort();
            // // each row starts with iid, followed by values (list) for each column.
            // let rows = imgIds.map(iid => [iid].concat(columns.map(c => imgData[iid]?.[c.name]?.join(", ") || "")))
            // columns = [{"name": "Image"}].concat(columns);
            datasources.addMapAnns(tableId, data);
          })
      }
      datasources.map_anns.display = checked;
      renderTable();
    };
  </script>
</html>
