{% extends "mdv/choose_data.html" %}

{% block main %}

<style>
  input {
    display: none;
  }
  form.delete {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
  }
  .delete button[type="submit"] {
    margin: 0;
    padding: 5px;
    font-size: 75%;
    background: transparent;
    color: #bbb;
    border: solid #bbb 1px;
  }
  li {
    margin: 10px;
  }


</style>

  <article>
    <header>
      <h2>Open MDV project:</h2>
    </header>
    <div>
    <ul>
      {% for config in configs %}
      <li title="FileAnnotation ID: {{ config.id }}, File ID: {{ config.file.id }}">
        <a target="_blank" href="{% url 'mdv_index' %}?dir=config/{{ config.id }}/">
          {{ config.file.name }}
        </a>
        {{ config.formattedDate }}
        <a target="_blank" href="{% url 'mdv_config_json' config.id %}">json</a>
        <form class="delete" method="post" action="{% url 'delete_mdv_config' %}">
          <input name="ann_id" value="{{ config.id }}"/>
          {% csrf_token %}
          <button type="submit">delete</button>
        </form>
      </li>
      {% endfor %}
    </ul>
  </div>
  </article>
{% endblock %}
