body {
    font-family: "Overpass", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  nav {
    background: #343a40;
    flex: 0 0 48px;
    color: #fff;
    font-weight: 300;
  }
  nav h1 {
    font-weight: 300;
    margin: 10px 15px;
  }
  main {
    overflow: auto;
    flex: 1 1 auto;
    /* https://uigradients.com/#MidnightCity */
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  h2,
  h3 {
    font-weight: 400;
  }
  ul {
    list-style: none;
    padding: 0;
    line-height: 1.5em;
  }
  #datasources {
    margin: 15px;
    display: flex;
    justify-content: flex-start;
    color: #999;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    overflow: auto;
    /* border-top: solid #ddd 1px; */
    box-sizing: border-box;
  }
  input[type='text'] {
    width: 320px;
    font-size: 1.0em;
    padding: 3px;
    border-radius: 5px;
    border: solid #999 1px;
  }
  table {
    float: left;
    border-collapse: collapse;
    color: #999;
    /* border-top: solid #ddd 1px; */
  }
  td,
  th {
    vertical-align: top;
    border: solid #ddd 1px;
    padding: 5px;
    border-collapse: collapse;
  }
  th {
    font-weight: 400;
    position: sticky;
    top: 0px;
    padding: 10px;
    /* Use background to add the top border, which is lost with 'sticky' position */
    background: repeating-linear-gradient(180deg,#ddd 0px, #ddd 1px,#414345 1px, rgb(20, 21, 22) 1000px);
    border-top: 0;
  }
  article {
    border: solid #ddd 1px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    padding: 0;
    position: absolute;
    top: 100px;
    left: 50%;
    width: 500px;
    margin-left: -250px;
    z-index: 10;
    max-height: calc(100% - 170px);
    display: flex;
    flex-direction: column;
  }
  article>header {
    flex: auto 0 0;
    border-bottom: solid #ddd 1px;
    padding: 15px;
  }
  header H2 {
    margin: 0
  }
  article>div {
    flex: auto 1 1;
    overflow: auto;
    padding: 15px;
  }
  article>footer {
    flex: auto 0 0;
    padding: 15px;
    border-top: solid #ddd 1px;
    text-align: right;
  }
  button[type="submit"] {
    cursor: pointer;
    color: #fff;
    background: #232526;  /* fallback for old browsers */
    border-color: #0f0c29;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  button:disabled {
    opacity: 0.7;
    cursor: default;
  }
  form {
    margin: 0;
  }